body{
    overflow: hidden;
}

.pace {
    display: none;
}

#core{
    height: 100%;
}

#main-page{
    height: 100%;
}

.page-header .page-header-top .page-logo .logo-default{
    margin: 0;
}

.page-header {
    height: auto;
}